<div ng-include="'views/navbar.html'"></div>
 <h4 style="margin-left:30px">To select a cryovial combination, click on it. </h4>
<div class="container">

  <div class="row">
     
    <div class="col-md-12">

     <div class="col-md-offset-3">
      <p class="combination" ng-click="selectCombination('seven')"> <span class="cryovialNumber">7</span> - 
               4 <span class="plasma">Plasma</span>, 
               1 <span class="buffy">Buffy</span>, 
               1 <span class="buffyRBC">Buffy+RBC</span>,
               1 <span class="rbc">RBC</span></p><br/>
      <p class="combination" ng-click="selectCombination('six')"> <span class="cryovialNumber">6</span> - 
               4 <span class="plasma">Plasma</span>, 
               1 <span class="buffy">Buffy</span>, 
               1 <span class="buffyRBC">Buffy+RBC</span>,
               0 <span class="rbc">RBC</span></p><br/>
     <p class="combination" ng-click="selectCombination('five')"> <span class="cryovialNumber">5</span> - 
               3 <span class="plasma">Plasma</span>, 
               1 <span class="buffy">Buffy</span>, 
               1 <span class="buffyRBC">Buffy+RBC</span>,
               0 <span class="rbc">RBC</span></p><br/>
     <p class="combination" ng-click="selectCombination('four')"> <span class="cryovialNumber">4</span> - 
               2 <span class="plasma">Plasma</span>, 
               1 <span class="buffy">Buffy</span>, 
               1 <span class="buffyRBC">Buffy+RBC</span>,
               0 <span class="rbc">RBC</span></p><br/>
     <p class="combination" ng-click="selectCombination('three')"> <span class="cryovialNumber">3</span> - 
               1 <span class="plasma">Plasma</span>, 
               1 <span class="buffy">Buffy</span>, 
               1 <span class="buffyRBC">Buffy+RBC</span>,
               0 <span class="rbc">RBC</span></p><br/>
     <p class="combination" ng-click="selectCombination('two')"> <span class="cryovialNumber">2</span> - 
               1 <span class="plasma">Plasma</span>, 
               1 <span class="buffy">Buffy</span>, 
               0 <span class="buffyRBC">Buffy+RBC</span>,
               0 <span class="rbc">RBC</span></p>   
    </div>
    </div>

   </div>   
</div>
<br/><br/><br/>