<div ng-include="'views/navbar.html'"></div>

<div class="col-md-12">
	<legend style="text-align: center">Linking</legend>
	<a href="#/edit-linking">
		<span class="glyphicon glyphicon-pencil"></span>
		Click here to update an existing EDTA Tube Linking
	</a>
	<div class="panel panel-default">
		<!--<div class="panel-body">
			<dl>
				<dt>EDTATube:</dt>
				<dd ng-bind="currentEdtaTube | json"></dd>
				<dt>Form Validity:</dt>
				<dd ng-bind="linkingForm.$valid"></dd>
				<dt>Current EDTA Tube Validity</dt>
				<dd ng-bind="currentEdtaTubeValidity | json"></dd>
			</dl>
		</div>-->
        
		
             <div ng-switch="cryovialCombination">
                    <div ng-switch-when="seven">
                        <ng-include   src="'views/form7.html'" include-replace>
			            </ng-include>
                    </div>
                     <div ng-switch-when="six">
                        <ng-include   src="'views/form6.html'" include-replace>
			            </ng-include>
                    </div>
             </div>

			<!-- 
            <div  ng-if="test">
			  <ng-include   src="'views/form7.html'" include-replace>
			  </ng-include>
			</div> -->

			<pre>{{ linkingForm | json }}</pre>

			
				<!-- <div ng-if="true">
				   <ng-include src="'views/form7.html'" include-replace>
				   </ng-include>
				</div> -->

				<!-- <seven-form>
				</seven-form> -->

              
				<!-- <td ng-repeat="t1 in currentEdtaTube.plasma" class="form-group" 
				ng-class="{'has-success': linkingForm.plasma{{$index+1}}.$valid &&                       currentEdtaTubeValidity.plasma{{$index+1}} == 'OK', 
				'has-error': linkingForm.plasma{{$index+1}}.$invalid || currentEdtaTubeValidity.plasma{{$index+1}} != 'OK'
				}">

					<input ng-focus="setNextId('plasma{{$index+2}}')" type="text" class="form-control" 
					name="plasma{{$index+1}}" id="plasma{{$index+1}}"  
					ng-keypress="validateCryovial($event, t1, currentEdtaTube.plasma,linkingForm,'plasma{{$index+1}}')"  
					ng-model="t1.cryovialId" pattern="^PC\d{6,6}$" required="required" />
					<span ng-show="linkingForm.plasma{{$index+1}}.$error.required">Required</span>
					<span ng-show="linkingForm.plasma{{$index+1}}.$error.pattern">Invalid Barcode</span>
					</span>
					<span class="help-block" ng-show="currentEdtaTubeValidity.plasma{{$index+1}} != 'OK'">
						<span ng-show="currentEdtaTubeValidity.plasma{{$index+1}}=='duplicate'">Duplicate Barcode</span>
					</span>
				</td> -->	
				<table class="table">
				<tr>
				<th>#</th>
				<th>EDTA Tube</th>
				<th>Remarks</th>
				<th>Plasma 1</th>
				<th>Plasma 2</th>
				<th>Plasma 3</th>
				<th>Plasma 4</th>
				<th>BuffyCoat </th>
				<th>BuffyCoat + RBC</th>
				<th>RBC</th>
			    </tr>
				<tr  ng-repeat="edtaTube in edtaTubes">
				<!-- <td ng-bind="edtaTubes.length - edtaTubes.indexOf(edtaTube)"></td> -->
				<td>{{$index+1}}</td>
				<td ng-bind="edtaTube.edtaTubeId"></td>
				<td ng-bind="edtaTube.remarks"></td>
				<td ng-bind="edtaTube.plasma[0]"></td>
				<td ng-bind="edtaTube.plasma[1]"></td>
				<td ng-bind="edtaTube.plasma[2]"></td>
				<td ng-bind="edtaTube.plasma[3]"></td>
				<td ng-bind="edtaTube.buffy"></td>
				<td ng-bind="edtaTube.buffyRBC"></td>
				<td ng-bind="edtaTube.rbc"></td>
			   </tr>
			  </table>	

	</div>
</div>