<h3 align="center"> Version 2.0</h3>

<div class="col-md-12">
	<div class="col-md-2 col-md-offset-2">
		<a href="#/linking">
			<h3>1. Linking</h3>
			<p>Aliquoted cryovials are linked with their respective EDTA tube after centrifuge and separation.</p>
		</a>
	</div>
	<div class="col-md-2">
		<a href="#/packing">
			<h3>2. Cryovial Packing</h3>
			<p>Aliquoted cryovials are placed in cryovial boxes, by distributing the samples to different boxes.</p>
		</a>
	</div>
	<div class="col-md-2">
		<a href="#/storage">
			<h3>3. Storage</h3>
			<p>Cryovial boxes are placed in the freezer.</p>
		</a>
	</div>
	<div class="col-md-2">
		<a href="#/synchronize">
			<h3>4. Synchronize</h3>
			<p>Newly collected data is sent to the server.</p>
		</a>
	</div>
</div>