<div ng-include="'./views/navbar.html'"></div>

<div class="col-md-12">
	<div class="col-md-4 col-md-offset-4" style="text-align: center">
		<div ng-show="error" class="alert alert-danger">{{error}}</div>
		<div ng-show="completed" class="alert alert-success">Synchronization complete.</div>
		<a href="" class="btn btn-success" ng-click="doSynchronize()" ng-show="!busy && !completed">Synchronize</a>
		<span ng-show="busy" style="color: red">Please wait. Synchronization in progress. This may take upto a minute.</span>
	</div>
</div>