<div ng-include="'./views/navbar.html'"></div>

<div class="col-md-12">
	<div class="panel panel-default">
		<div class="panel-heading">Users</div>
		<div class="panel-body"><a href="#/create-user" class="btn btn-success">Add</a></div>
		<table class="table" ng-show="usersList">
			<tr>
				<th>Name</th>
				<th>Username</th>
				<th>Role</th>
				<th>Edit User</th>
				<th>Delete User</th>
			</tr>
			<tr ng-repeat="user in usersList">
				<td ng-bind="user.name"></td>
				<td ng-bind="user.username"></td>
				<td ng-bind="user.role==='manager'?'Administrator':'Lab Staff'"></td>
				<td><a href="#/create-user/{{ user.username }}"><span class="glyphicon glyphicon-cog"></span></a></td>
				<td><a href="" ng-click="removeUser(user.username)" ng-show="getCurrentUser().username !== user.username"><span class="glyphicon glyphicon-remove" style="color: red"></span></a></td>
			</tr>
		</table>
	</div>
</div>